#Your virtual environment should be local
.venv
venv/

#Dont need to vc cached local modules
data_mining/__pycache__
data_mining/TestingMiner/__pycache__/
data_mining/output_files/

data_mining/TestingMiner/__pycache__
data_mining/output_files

data_analysis/__pycache__
